/*----------------------------general------------------------------------*/
:root{
    --primary-color:rgb(181, 72, 72);
    --secrondary-color:rgb(163, 111, 75);
    --backgound-color:#141416;
    --text-color:white;
    --border-color:white;
    --selections-color:#7a7a7a;
    --invert-number:0%;
/*------------BG variables----------------*/
    --glow-color:#ffffffb3;
    --body-height:0vh;
    --BG-content:"ali";
    --BG-font-size:32px;
    --bubble-number:10;
    --scale-before:0.3;
    --scale-after:1;
    --rotate-before:-180deg;
    --rotate-after:720deg;
/*--------------card--------------------*/
    --card-BG:#323338;
    /*-----test--------------------*/
    --main-card-BG:#292929;
    --secondary-card-BG:#333;

}

.light-mode{
    --primary-color:rgb(247, 103, 103);
    --secrondary-color:rgb(251, 172, 115);
    --backgound-color:#ebebe9;
    --text-color:black;
    --border-color:black;
    --selections-color:#858585;
    --invert-number:100%;
/*------------BG variables----------------*/
    --glow-color:#000000b3;
/*--------------card--------------------*/
    --card-BG:#cdccc7;
    /*-----test--------------------*/
    --main-card-BG:#f2f2f2;
    --secondary-card-BG:white;
}

*{
    font-family: GeneralSans;
}
html {

    scroll-behavior: smooth !important;
}

::selection{
    background-color: var(--selections-color);
}

::-webkit-scrollbar {
    display: none;
}

@font-face {
    font-family: GeneralSans;
    src: url(assets/GeneralSans-Variable.ttf);
}



.flex-row{
    display: flex;
}
.flex-row-space-evenly {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.flex-column-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flex-row-space-between{
    display: flex;
    justify-content:space-between;
}

.flex-row-space-between-wrap{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}


/*----------------------------header------------------------------------*/
header{
    height: fit-content;
    background-color: var(--backgound-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: all 2.5s;
    z-index: 999;
}


.div1-header{
    padding-left: 42px;
    padding-top: 10px;
    padding-right: 42px;
    padding-bottom: 10px;
}

.div2-header {
    padding: 0;
    margin: 0;
}

header ul{
    display: flex;
    width: 75%;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    list-style: none;
}


header ul li a{
    color: var(--text-color);
    text-decoration: none;
    font-size: larger;

}

.header-icons{
    align-items: center;
}
.header-icon{
    width: 32px;
    height: 32px;
    cursor: pointer;
}

header div{
    display: flex;
    padding-left: 25px;
    
}

.progress-bar {
    width: 100%;
    height: 0.2vh;
    

}
.filled {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right,var(--text-color),var(--text-color));
    margin-left: -25px;
}

.logo{
    width: 8vh;

}

/*----------------------------footer------------------------------------*/
footer{
    text-align: center;
    transition: all 2.5s;
}
/*----------------------------BGAnimation------------------------------------*/
.BG {
    z-index: -1;
    position: relative;
    width: 100%;
    height: 0%;
    min-height: 1vh;
    overflow-y: visible;
}
  
  .bubbles {
    position: absolute;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
}
  
  .bubbles span {
    color: var(--text-color);
    border-radius: 50%;
    text-shadow: 0 0 10px var(--glow-color), 0 0 20px var(--glow-color), 0 0 30px var(--glow-color), 0 0 40px var(--glow-color), 0 0 50px var(--glow-color);
    display: flex; 
    align-items: center; 
    justify-content: center; 
    position: relative;
    min-width: 30px;
    height: 30px;
    margin: 4px;
    /* animation: animate linear infinite; */
    /* animation-duration: calc(500s / var(--bubble-number)); */
}  
  
@keyframes animate1 {
    0% {
      transform: translateY(-25vh) scale(var(--scale-before)) rotate(var(--rotate-before));
    }
    100% {
      transform: translateY(var(--body-height)) scale(var(--scale-after)) rotate(var(--rotate-after));
    }

}
@keyframes animate2 {
    0% {
      transform: translateY(-25vh) scale(var(--scale-after)) rotate(var(--rotate-before));
    }
    100% {
      transform: translateY(var(--body-height)) scale(var(--scale-before)) rotate(var(--rotate-after));
    }

}
@keyframes animate3 {
    0% {
      transform: translateY(-25vh) scale(var(--scale-before)) rotate(var(--rotate-after));
    }
    100% {
      transform: translateY(var(--body-height)) scale(var(--scale-after)) rotate(var(--rotate-before));
    }

}
@keyframes animate4 {
    0% {
      transform: translateY(-25vh) scale(var(--scale-after)) rotate(var(--rotate-after));
    }
    100% {
      transform: translateY(var(--body-height)) scale(var(--scale-before)) rotate(var(--rotate-before));
    }

}

/*----------------------------body------------------------------------*/
body {
    background-color: var(--backgound-color);
    color: var(--text-color);
    padding: 0;
    margin: 0;
    transition: all 2.5s;
    
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
    z-index: 5;
}


.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 2.5s;
}
.fast-hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
}


.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}


.stagger{
    transition-delay: calc(200ms * var(--order));
}

.welcome-name{
    margin-top: -130px;
    font-size: xx-large;
    color: var(--text-color);
    text-transform: uppercase;
    text-shadow: 0 0 10px var(--glow-color), 0 0 20px var(--glow-color), 0 0 30px var(--glow-color);
}

.main-card {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 60%;
    height: max-content;
    color: var(--text-color);
    background-color: var(--main-card-BG);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
  
.small-card {
    background-color: var(--secondary-card-BG);
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.small-card h1,h2{
    padding-bottom: 30px;
    font-size: xx-large;
}

.small-card h3,h4{
    padding-bottom: 30px;
    font-size: x-large;
}
  
.small-card ul,.main-card ul {
    list-style: none;
    padding: 0;
}
  
.small-card li,.main-card li {
    margin-bottom: 5px;
    font-size: large;
}

.cubes li{
    cursor: pointer;
    background-color: var(--secondary-card-BG);
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);


}
.scale-cube:hover{
    scale: 1.2;
    transition: scale 1s;

}

.project-hidden {
    display: none;
}

.project-card{
    width: 25%;
}

.Project-expanded {
    width: 100%;
    height: 100%;
    z-index: 10;
    position: absolute;
    top: 0;
    left: 10px;
    right: 10px;
    bottom: 10px;
    cursor:auto;
}
.Project-expanded:hover {
    cursor:auto;
}


.Project-expanded .collapsed-content {
    display: none;
}
.Project-expanded .expanded-content {
    display: block;
}

.back-arrow {
    filter: invert(var(--invert-number));
    position: absolute;
    top: 0;
    left: 0;
    width: 64px;
    height: 64px;
    cursor: pointer;
    padding: 25px;
    transition: scale 1s ;
}

.back-arrow:hover{
    scale: 1.2;
    transition: scale 1s ;
}

.back-animation {
    transition: width,height 0s;
}

